<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css')}}'>
  </head>
<body><center>
    <h1 style="text-align: center;">IRIS Prediction</h1>
      <form>
      <label for="fname">First name:</label><br />
      <input id="fname" name="fname" type="text" /><br />
      <label for="lname">Last name:</label><br />
      <input id="lname" name="lname" type="text" /><br />
      <input type="submit" value="Submit">
    </form> 
  </center>
</body>
</html>